<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="dist/favicon.png"/>
    <meta charset="utf-8"/>
    <title>Temamagic | Артем Федоров</title>
    <script src="dist/js/jquery/3.1.1/jquery.min.js"></script>
    <link href="dist/css/style.css" rel="stylesheet">
    <link href="dist/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(92551770, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/92551770" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
<div class="cv container">
    <div class="row">
        <aside class="col-md-4">
            <img class="img-circle" src="dist/img/avatar.jpg" width="200px">
            <h2><span>Артем</span> Федоров</h2>
            <p>Меня зовут Артем, мне <span id="age"></span>, я эксперт по созданию чат-ботов и занимаюсь ими с 2015 года</p>
            <p>Лично создал и провел более 30 проектов, в том числе для компаний СИБУР, МТС, Ростелеком, и других</p>
            <p>Собрал команду специалистов и руковожу несколькими проектами по чат-ботам</p>
            <p>Разработал боты с охватом аудитории более 5 млн человек</p>
            <p>Топлю за нетворкинг и люблю потусить в интересной компании</p>
            <p>Пообщаться (лучше всего, в тг):</p>
            <ul class="info">
                <li><a href="https://instagram.com/temamagic"><i class="fa fa-instagram"></i>Instagram: @temamagic</a></li>
                <li><a href="https://t.me/temamagic"><i class="fa fa-telegram"></i>Telegram: @temamagic</a></li>
            </ul>
            <p>Пишу в</p>
            <ul class="info">
                <li><a href="https://ttttt.me/temashareit"><i class="fa fa-telegram"></i>Личный блог в Telegram: @TemaShareIt</a></li>
                <li><a href="https://ttttt.me/magicbots"><i class="fa fa-telegram"></i>Блог по ботам в Telegram: @MagicBots</a></li>
            </ul>
            <p>CV</p>
            <ul class="info">
                <li><a href="https://www.linkedin.com/in/temamagic/"><i class="fa fa-linkedin"></i>LinkedIn: @temamagic</a></li>
            </ul>


        </aside>
        <div class="col-md-8">
<!--            <h1>Скиллы</h1>-->
<!--            <div class="row skills">-->
<!--                <div class="col-md-4">-->
<!--                    <section>-->
<!--                        <p>PHP</p>-->
<!--                        <span></span>-->
<!--                        <span></span>-->
<!--                        <span class="full"></span>-->
<!--                        <span class="full"></span>-->
<!--                        <span class="full"></span>-->
<!--                    </section>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                    <section>-->
<!--                        <p>MySQL</p>-->
<!--                        <span></span>-->
<!--                        <span></span>-->
<!--                        <span class="full"></span>-->
<!--                        <span class="full"></span>-->
<!--                        <span class="full"></span>-->
<!--                    </section>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                    <section>-->
<!--                        <p>SEO</p>-->
<!--                        <span></span>-->
<!--                        <span></span>-->
<!--                        <span class="full"></span>-->
<!--                        <span class="full"></span>-->
<!--                        <span class="full"></span>-->
<!--                    </section>-->
<!--                </div>-->
<!--            </div>-->

            <h1>Боты</h1>
            {{ range botList }}
            <section>
                <h3>{{ .Username }}</h3>
                <h5><a href="https://t.me/{{ .Username }}?start=temamagic" target="_blank">Открыть в telegram</a></h5>
                {{ if .ReleaseDate}}<h6>Когда выпущен: {{ .ReleaseDate }}</h6>{{ end }}
                {{ if .SoldDate}}<h6>Продан: {{ .SoldDate }}</h6>{{ end }}
                {{ range .Descriptions }}<p>{{ . | safe }}</p>{{ end }}
            </section>
            {{ end }}
            <section>
                <h3>СИБУР</h3>
                <h6>Когда выпущены: период с 2018-2020</h6>
                <p>В рамках проекта за 2 года было создано 2 бота на 2 хакатона: @siburchallenge_bot, @siburchallenge2019bot</p>
                <p>Боты хакатона от компании SIBUR совместно с компанией AI Today (AI Community)</p>
                <p>Бот интегрировался с платформой для сдачи решений и начислял баллы за разные события(вступление в чат мероприятия, сдача решений и тп)</p>
                <p>Позволял получить информацию о любом участнике используя его QR код, а так же начислять баллы на самом мероприятии прямо с телефона</p>
                <p>Бот осуществлял обратную связь с участниками</p>
                <p>Статьи:
                <ul>
                    <li><a href="https://habr.com/ru/company/sibur_official/blog/474838/" target="_blank">https://habr.com/ru/company/sibur_official/blog/474838/</a></li>
                    <li><a href="https://habr.com/ru/company/sibur_official/blog/448938/" target="_blank">https://habr.com/ru/company/sibur_official/blog/448938/</a></li>
                    <li><a href="https://vc.ru/life/62436-kak-i-zachem-my-delaem-neobychnyy-hakaton" target="_blank">https://vc.ru/life/62436-kak-i-zachem-my-delaem-neobychnyy-hakaton</a></li>
                </ul>
                Картинки и еще описание в <a href="https://temamagic.notion.site/SIBUR-Challenge-2018-2019-5d5b122b4f584b1b976baae095865fbf" target="_blank">notion.so</a>
                </p>
            </section>
            <section>
                <h3>@VoroninClubBot</h3>
                <h6>Когда выпущен: июль-август 2016</h6>
                <p>Бот бизнес тренера Алексея Воронина (лучшего в России по версии 2016-2017 годов)</p>
                <ul>
                    <li>Бот-визитка с возможностью сегментировать подписчиков и рассылать им точечные предложения</li>
                    <li>В боте присутствовала оплата курса Алексея</li>
                    <li>Для курса был разработан отдельный, приватный бот, для проведения полугодовой обучающей программы со сбором рефлексии и аналитикой</li>
                </ul>
                <p>Картинки и еще описание в <a href="https://temamagic.notion.site/4deb6e58a63447b2b62244fc9d5a3d2c" target="_blank">notion.so</a></p>
            </section>

            <section>
                <h3>Другие проекты по ботам</h3>
                <h4>2015 - н.в</h4>
                <p>Работал в основном как фрилансер, периодически работая с разными компаниями и людьми, собрал небольшое описание с проектами и их описанием в <a href="https://temamagic.notion.site/823a5b4d195540648e93cb67760af188">Notion</a></p>
                <p>В настоящее время веду несколько проектов по ботам и иногда что-то пишу сам для себя или в рамках работы</p>
            </section>

            <h1>Прочий опыт</h1>
            <section>
                <h3>Flipper Devices</h3>
                <h4>Marketing Manager, 2022</h4>
                <h5><s>неофициальный амбассадор 2020 - н.в</s></h5>
                <p>Занимался коммуникацией с блогерами, искал выходы на блогеров, пытался продвинуть устройство в наших и зарубежных сми</p>
                <p>• Провел <a href="https://www.youtube.com/watch?v=4k7vVDqslXw" target="_blank">обзор с Rozekted</a>, консультировал по устройству и помогал в написании текста.</p>
                <p>• Активно продвигаю Flipper на любых мероприятиях где я бываю, готовьтесь что и вам расскажу что это</p>
            </section>
            <section>
                <h3>Delivery Club, Mail.ru</h3>
                <h4>Golang Developer, 2021</h4>
                <p>Занимался разработкой новых сервисов и поддержкой старых, участвовал в разработке бэкенда сервисов для курьеров</p>
            </section>
            <section>
                <h3>botostore.com</h3>
                <h4>Tech Lead Developer, 2019-2023</h4>
                <p>Принимал участие в разработке бота для каталога, написал поисковый модуль для каталога, который ускорил поиск в 3 раза</p>
                <p>В настоящее время part-time помогаю с проектом</p>
            </section>
            <section>
                <h3>AI Today</h3>
                <h4>Tech Lead Developer, 2018-2020</h4>
                <p>Занимался разработкой проектов для компании, сотрудничали по разработке ботов для компании СИБУР</p>
                <p>• Разработал 3 бота для СИБУР</p>
                <p>• Успешно провели 2 хакатона с применением бота и геймификации</p>
            </section>
            <section>
                <h3>IMMO</h3>
                <h4>Lead developer, 2019-2021</h4>
                <p>Занимался разработкой и поддержкой проектов компании, был ведущим разработчиком и мейнтенером в dating сервисах для различных партнеров по РФ и СНГ</p>
                <p>Отвечал за тестирование, постановку задач и внедрение нового функционала</p>
            </section>

            <h1>Медиа</h1>
            <s>Вообще, я был человек непубличный, но приходится, по этому:</s>
            <section>
                <h3>Подкаст Лосева</h3>
                <h4>март 2023</h4>
                <p>Подкаст про диджитал и маркетинг, где я рассказал о своем опыте в разработке ботов, какие боты я делал и про деньги</p>
                <ul>
                    <li><a href="https://youtu.be/JBVYJfgd_K0" target="_blank">Подкаст на YouTube</a></li>
                </ul>
            </section>
            <section>
                <h3>Форум самозанятых "занят сам"</h3>
                <h4>март 2021</h4>
                <p>В 2021 году меня пригласили разработать бота для форума «Занят сам», который проходил в Омске</p>
                <p>На оффлайн мероприятие, в еще по сути ковидный год, пришло, как я понял, не очень много людей, а на МК в выходной еще меньше, но как получилось ¯\_(ツ)_/¯</p>
                <ul>
                    <li><a href="dist/pdf/chatbots_forum_zanyat_sam_omsk.pdf" target="_blank">Презентация в PDF</a></li>
                    <li><a href="https://youtu.be/4XXU7sQ09GU" target="_blank">Запись на YouTube</a></li>
                </ul>
            </section>
            <section>
                <h4>Другие статьи</h4>
                <ul>
                    <li><a href="https://vc.ru/marketing/57208-prodvizhenie-telegram-bota-bez-byudzheta-poshagovyy-plan" target="_blank">Помогал в развитии другого, крупного сейчас, бота</a></li>
                </ul>
            </section>

            <h1>Прочие достижения</h1>
            <section>
                <h3>Хакатоны </h3>
                <h4>VTB 2020</h4>
                <p>Заняли призовые места с напарником, придумали и реализовали mvp алгоритма по антифрод защите с бэкендом и фронтендом</p>
                <ul>
                    <li>ВТБ 2020 - <a href="dist/pdf/vtb2020hack.pdf" target="_blank">Диплом финалиста</a></li>
                </ul>

                <h4>Hack.Moscow 2019</h4>
                <p>Победили в свободном треке с чат-ботом</p>
                <ul>
                    <li><a href="dist/img/hackmoscow2019_1.jpg" target="_blank">Фоточка с победным чеком</a></li>
                </ul>
            </section>




            <h1>Остались вопросы?</h1>
            Напишите мне в <a href="https://t.me/temamagic"><i class="fa fa-telegram"></i>Telegram: @temamagic</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        // дата рождения - 7 июня 1995
        var birthday = new Date(1995, 5, 7);
        var ageDifMs = Date.now() - birthday.getTime();
        var ageDate = new Date(ageDifMs);
        var age = Math.abs(ageDate.getUTCFullYear() - 1970);
        $('#age').text(age);
    });
</script>
</body>
</html>
